* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wishlist-page {
    width: 80%;
    margin: 9rem auto 0 auto;
}

.cart-details-header {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    border-bottom: 1px solid #e1e1e1;
}

.span-2 {
    grid-column: span 2 / span 3;
}

.cart-details-content {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    border-bottom: 1px solid #e1e1e1;
    padding: .6rem 0;
}